
@media screen and (min-width:640px) and (max-width:1600px){
/***** DESKTOP HOME*****/
.container{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    /*****insert the font family in html****/
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 72px;
    line-height:85px;
    font-weight:bold;
}
h2{
    font-size: 40px;
    font-weight: 400;
}
/*****use font-weight property to make it bold or light****/
h3{
    font-size: 32px;
    color: #26a682;
    font-weight: 200;
}
p{
    font-size: 24px;
    line-height:35px;
    font-weight: 300;
}
/*****flex display to align them next to each other ****/
nav{
    background-color: #3c3b3a;
    display: flex;
    align-items: center;
}
nav img{
    width:50px;
    margin-left:50px;

}
.nav-links{
    flex:1;
    text-align: right;
}
/*****list-style :none to omit the bullets****/
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
/*****use text decoration:none to clean the lines****/
.nav-links ul li a{
text-decoration: none;
color: #f2f2f2;
}
/*****give 3 values to border to make it active***/
/*****border-radius is to make the corners rounded ***/
.header-button{
    text-decoration: none;
    color: #f2f2f2;
    border:1px solid #26a682;
    background-color: #26a682;
    padding: 8px 25px;
    border-radius: 20px;
    cursor:pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-left:5%;
}
/*****use transition propert to set the duration of animation****/
.header-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
 
  .header-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .header-button:hover span {
    padding-right: 25px;
  }
  /*****1 opacity to make it visible***/
  .header-button:hover span:after {
    opacity: 1;
    right: 0;
  }
   /*****grid layout and 2 equal columns***/
.grid-area{
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 90%;
    margin:0 auto;
    gap: 10px;
    margin-top:20px;
    margin-bottom:40px;
    flex-wrap: wrap;
}
#grid1-img{
    width:100%;
    margin-top:30px;
}
.grid1 p{
    font-size: 18px;
}
i{
    font-size:40px;
    margin-bottom:2px;;
}
 /*****justify-content:center to align them in center vertically***/
.icons{
    display:flex;
    margin-left:5%;
    justify-content:space-around;
}
.icons p{
    font-size: 14px;
    color: #26a682;
    margin-left: 5%;
    margin-top:-8px;
}
#arrow{
    color: #26a682;
}
.scroll{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.scroll p{
    font-size: 12px;
    margin-bottom:-10px;
} 
 /*****align-items:center to align the items horizantallye***/
.main-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:#f2f2f2 ;
    align-items:center;
}
 /*****flex display stack the items horizantally, if you want to them to stack vertically,use flex-direction:column***/
.grid2{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
    margin:0 auto;
}
.grid2 h3{
    margin-top:-20px;
}
.grid2 p{
 font-size:18px;
}
.main-grid img{
    height:300px;
}
 /*****use align-self property for a child flex element,align-items for parent***/
 .learnmore-button{
    text-decoration: none;
    color: #f2f2f2;
    border:1px solid #26a682;
    background-color: #26a682;
    border-radius: 15px;
    cursor:pointer; /*to indicate it can be clicked like a link*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 8px;
    align-self: flex-end;
    width:20%;
    margin-bottom: 5px;
    text-align: center;
}

 /*****use align-self property for a child flex element,align-items for parent***/

 /*****you can make the pictures circle using border-radius property***/
#simon{
    width:100px;
    border-radius:50%;
    margin-left:20px;
}
.grid-president{
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    color: #f2f2f2;  
    background-color:#3c3b3a;
}
.grid3{
    width: 90%;
    margin: 0 auto;
}
.grid3 p{
    font-size: 18px;
    
}
 /**** 100% width to stretch the footer**/
footer{
    display:inline-block;
    background-color:#3c3b3a;
    justify-content: center;
    color: #f2f2f2;
    font-size: 24px;
    text-align:center;
    width: 100%;
}
footer img{
  margin:2px;
  margin-top: -10px;
}


/*****DESKTOP ABOUT*****/

.about p,.entertainment p,.column p{
    font-size: 18px;
    font-weight: lighter;
}
.header-grid2{
    display:flex;
    width: 90%;
    justify-content:space-evenly;
    align-items: center;
    margin:0 auto;
}
.about-header img{
    max-width:600px;
}
 /*****when the background image is not very imprtant, you can add the image in css***/
  /*****you can change the part of picture displayed using background-position***/
   /*****z-index specifies the order of an element.***/
.about h1{
    background-image: url(../images/banner.about.jpg);
    background-position:bottom center;
    height:230px;
    position: relative;
    z-index:1 ; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    font-weight:bolder;
    
}
/****:after selector inserts the green area after the content*****/

.about h1:after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: #26a682;
    opacity:0.6;
    z-index:-1;
}

.services h1{
    background-image: url(../images/banner.services.jpg);
    background-position:center;
    background-size:cover;
    height:230px;
    position: relative;
    z-index:1 ; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    font-weight:bolder;
}
.services h1:after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: #26a682;
    opacity:0.6;
    z-index:-1;
}
.column h2,p{
    margin:30px;
}
.about-column{
    display:flex;
    width: 90%;
    margin: 0 auto;
}
.column{
    flex:1;
}
.services-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap: 0px;
    margin:0 auto;
   
}
.grey-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    background-color: #f2f2f2 ;
    background-size: 100%;
    align-items: center;
    margin:0 auto;
}
.entertainment{
    display: inline-flex;
    flex-direction: column;
    justify-content:center;
    width:90%;
    margin:0 auto;
    height:auto;
    flex-wrap: wrap;
}
.entertainment img{
width:90%;
}
.entertainment h3{
    margin-top:-20px;
}
.entertainment p{
    margin-top:-10px;
}
.divider{
    background-color:#3c3b3a ;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.divider h3{
    color:#f2f2f2 ;
}
.subscribe-button{
        text-decoration: none;
        color: #f2f2f2;
        border:1px solid #26a682;
        background-color: #26a682;
        padding: 2px 10px;
        border-radius: 15px;
        cursor:pointer;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        width:10%;
        height:8%;
        text-align: center;
       
}
.last-section{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
    width: 100%;
    position: relative;
    align-items: center;
    animation: mymove 5s infinite;
}
/****when you animate with animation propert, always use keyframes*****/
@keyframes mymove {
  from {left: -500px;}
  to {left: 0px;}
}
.last-section img{
    width:200px;
    height:150px;
}
/****to make the selected flex items bigger, use flex-grow property *****/
.last-section img:nth-child(1){
   flex-grow:0.2;
}
section h2{
    text-align: center;
    font-size: 72px;
}
/********DESKTOP CONTACT********/
.contact-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    margin:0 auto;
    width:90%;
    margin-top:20px;
    margin-bottom: 20px;
    justify-content: center;
    gap:10px;
}
.contact p{
    font-size: 18px;
}
.contact img{
    width:80%;
}
iframe{
    margin-right:50px;
}
form{
    background-color:#26a682;
    color: #f2f2f2;
    font-size:18px;
    border-radius: 15px;
    width:60%;
    padding-bottom: 20px;
}
label{
    margin-left:10px;
}
input{
    border-radius: 15px;
    padding:10px 100px;  
    margin:8px;
}
/****to increase the size of only message area, use textarea property*****/
textarea{
    padding:40px 85px;
    border-radius: 15px;
    margin:8px;
}

#btn{
    padding:10px 30px;
    background-color:#3c3b3a ;
    color:#f2f2f2;
    display: block;
}
}
@media screen and (min-width:320px) and (max-width:640px){
    /*******MOBILE HOME*******/
    html{
        font-family: 'Raleway', sans-serif;
    }
    h1{
        font-size: 40px;
        line-height:85px;
        font-weight:bold;
    }
    h2{
        font-size: 32px;
        font-weight: 400;
    }
    h3{
        font-size: 24px;
        color: #26a682;
        font-weight: 200;
    }
    p{
        font-size: 16px;
        line-height:35px;
        font-weight: 300;
    }
    blockquote{
        font-size: 16px;
        line-height:35px;
        font-weight: 300;
    }
   header{
        background-color: #3c3b3a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav img{
        width:120px;
    }
    .nav-links ul li{
        list-style: none;
        display: flex;
        padding: 6px;
        justify-content: center;
        align-items:center;
    }
    .nav-links ul li a{
    text-decoration: none;
    color: #f2f2f2;
    }
    .header-button{
        font-size: 32px;
        text-decoration: none;
        color: #f2f2f2;
        border:1px solid #26a682;
        background-color: #26a682;
        padding: 14px 120px;
        border-radius: 20px;
        cursor:pointer;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .header-button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .header-button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .header-button:hover span {
        padding-right: 25px;
      }
      
      .header-button:hover span:after {
        opacity: 1;
        right: 0;
      }
    .grid-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:90%;
        margin:0 auto;
    }
    .grid1 p{
        font-size: 24px;

    }
    #grid1-img{
        width:100%;
        margin-top:30px;
    }
    i{
        font-size:60px;
        margin-bottom:2px;;
    }
    .icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content:center;
        align-items: center;
        width:100%;
        margin: 0 auto;
    }
    .icons p{
        font-size: 14px;
        color: #26a682;
        margin-left: 5%;
        margin-top:-8px;
    }
    /****to make some elmenet disappear use display:none****/
    .scroll{
    display: none;
    }
    .main-grid{
        display:flex;
        flex-direction:column;
        background-color:#f2f2f2 ;
    }
    .grid2 h3{
        margin-top:5px;
    }
    .grid2 p{
     font-size:18px;
    }
    /****to change the direction of column use flex-direction:column-reverse****/
    .main-grid:last-child{
        flex-direction: column-reverse;

    }
    .main-grid img{
        width:100%;
        height:150px;
    }
    .learnmore-button{
        text-decoration: none;
        color: #f2f2f2;
        border:1px solid #26a682;
        background-color: #26a682;
        border-radius: 15px;
        cursor:pointer;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        padding: 6px 32px;
        align-self: flex-start;
        width:20%;
        margin-bottom: 5px;
        margin-bottom: 10px;
    }
    #simon{
        width:125px;
        border-radius: 50%;
        margin-top: 10px;
    }
    .grid-president{
        display: flex;
        flex-direction: column;
        color: #f2f2f2;  
        background-color:#3c3b3a;
        justify-content: space-evenly;
        align-items: center;
    }
    .grid3{
        width: 90%;
        margin: 0 auto;
    }
    .grid3 p{
        font-size: 18px;
        
    }
    footer{
        display:inline-block;
        background-color:#3c3b3a;
        justify-content: center;
        color: #f2f2f2;
        font-size: 24px;
        text-align:center;
        width: 100%;
    }
    footer img{
      margin:2px;
      margin-top: -10px;
    }
    
    /*****MOBILE ABOUT*****/
    .about p,.entertainment p,.column p{
        font-size: 18px;
        font-weight: lighter;
    }
    /****justify-content:space evenly distributes the  items evenly*****/
    .header-grid2{
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        margin:0 auto;
    }
    .about-header img{
        max-width:100%;
    }
    .about h1{
        background-image: url(../images/banner.about.jpg);
        background-position:bottom center;
        height:230px;
        position: relative;
        z-index:1 ; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f2f2f2;
        font-weight:bolder;
        
    }
    .about h1:after{
        content:'';
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
        background-color: #26a682;
        opacity:0.6;
        z-index:-1;
    }
    
    .services h1{
        background-image: url(../images/banner.services.jpg);
        background-position:center;
        background-size:cover;
        height:230px;
        position: relative;
        z-index:1 ; 
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f2f2f2;
        font-weight:bolder;
    }
    .services h1:after{
        content:'';
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
        background-color: #26a682;
        opacity:0.6;
        z-index:-1;
    }
    .column h2,p{
        margin:30px;
    }
    .about-column{
        display:block;
        width: 90%;
        margin: 0 auto;
    }
    .services-grid{
        display:block;
    }
    .services-grid picture{
        display: none;
        
    }
    .grey-grid{
        display:block;
        background-color: #f2f2f2 ;
        background-size: 100%;
        align-items: center;
    }
   .grey-grid picture{
       display:none;
   }
    .entertainment{
        display: inline-block;
        justify-content:center;
    }
    .entertainment img{
    width:90%;
    }
    .divider{
        background-color:#3c3b3a ;
        display: inline-block;
        justify-content: center;
        align-items: center;
        width:100%;
        padding-bottom: 15px;
        text-align: center;
    }
    .divider h3{
        color:#f2f2f2 ;
    }
    .subscribe-button{
            text-decoration: none;
            color: #f2f2f2;
            border:1px solid #26a682;
            background-color: #26a682;
            padding: 2px 10px;
            border-radius: 15px;
            cursor:pointer;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            width:10%;
            height:8%;
            text-align: center;
           
    }
    .last-section{
        display: flex;
        flex-direction: column;
        margin: 100px 0;
        width: 100%;
        position: relative;
        align-items: center;
        animation: mymove 5s infinite;
    }
    @keyframes mymove {
      from {left: -500px;}
      to {left: 0px;}
    }
    .last-section img{
        width:200px;
        height:150px;
        margin-top:20px;
    }
    .last-section img:nth-child(1){
       width:400px;
    }
    section h2{
        text-align: center;
        font-size: 72px;
    }
    /********MOBILE CONTACT********/
    .contact-grid{
        display: block;
    }
    .contact{
        width:90%;
    }
    .contact p{
        font-size: 18px;
    }
    .contact img{
        width:90%;
    }
    form{
        background-color:#26a682;
        width:100%;
        color: #f2f2f2;
        padding:10px 20px;
        font-size:18px;
        border-radius: 15px;
    }
    label{
        margin-left:10px;
    }
    input{
        margin:8px;
        border-radius: 15px;
        padding:10px 100px;  
    }
    textarea{
        margin:8px;
        border-radius: 15px;
        padding:10px 85px;  
    }
    #btn{
        padding:10px 30px;
        background-color:#3c3b3a ;
        color:#f2f2f2;
    }
    }
    /********TABLET HOME*********/
    @media screen and (min-width:641px) and (max-width:1024px){
        html{
            font-family: 'Raleway', sans-serif;
        }
        h1{
            font-size: 72px;
            line-height:85px;
            font-weight:bold;
        }
        h2{
            font-size: 40px;
            font-weight: 400;
        }
        h3{
            font-size: 32px;
            color: #26a682;
            font-weight: 200;
        }
        p{
            font-size: 24px;
            line-height:35px;
            font-weight: 300;
        }
        nav{
            background-color: #3c3b3a;
            display: flex;
            align-items: center;
        }
        nav img{
            width:50px;
            margin-left:50px;
        
        }
        .nav-links{
            flex:1;
            text-align: right;
        }
        .nav-links ul li{
            list-style: none;
            display: inline-block;
            margin-right: 50px;
            position: relative;
        }
        .nav-links ul li a{
        text-decoration: none;
        color: #f2f2f2;
        }
        .header-button{
            font-size: 32px;
            text-decoration: none;
            color: #f2f2f2;
            border:1px solid #26a682;
            background-color: #26a682;
            padding: 10px 80px;
            border-radius: 20px;
            cursor:pointer;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
           margin: 0 auto;
        }
        .header-button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          .header-button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
          
          .header-button:hover span {
            padding-right: 25px;
          }
          
          .header-button:hover span:after {
            opacity: 1;
            right: 0;
          }
        .grid-area{
            display: flex;
            flex-direction: column;
            align-items: center;
            width:100%;
            text-align: center;
        }
        .grid1 p{
            font-size: 24px;
    
        }
        #grid1-img{
            width:300px;
        }
        i{
            font-size:60px;
            margin-bottom:2px;;
        }
        .icons{
            display: flex;
            justify-content:space-evenly;
            align-items: flex-start;
            width:100%;
            margin: 0 auto;
        }
        .icons p{
            font-size: 14px;
            color: #26a682;
            margin-left: 5%;
            margin-top:-8px;
        }
        .main-grid{
            display:flex;
            flex-direction:column;
            background-color:#f2f2f2;
        }
        .main-grid img{
            width: 100%;
            height:200px;
        }
        .grid2 h3{
            margin-top:5px;
        }
        .grid2 p{
         font-size:18px;
        }
        .main-grid:last-child{
            flex-direction: column-reverse;
    
        }
        .learnmore-button{
            text-decoration: none;
            color: #f2f2f2;
            border:1px solid #26a682;
            background-color: #26a682;
            border-radius: 15px;
            cursor:pointer;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            padding: 6px 32px;
            align-self: flex-start;
            width:20%;
            margin-bottom: 5px;
            margin-bottom: 10px;
        }
        #arrow{
            color: #26a682;
            font-size: 20px;
        }
        .scroll{
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5px;
        }
        .scroll p{
            font-size: 12px;
            margin-bottom:-10px;
        } 
        #simon{
            width:125px;
            border-radius: 50%;
            margin-top: 10px;
            border:solid 2px white;
        }
        .grid-president{
            display: flex;
            color: #f2f2f2;  
            background-color:#3c3b3a;
            justify-content: center;
        }
        .grid3{
            width: 90%;
            margin: 0 auto;
        }
        .grid3 p{
            font-size: 18px;
            
        }
        footer{
            display:inline-block;
            background-color:#3c3b3a;
            justify-content: center;
            color: #f2f2f2;
            font-size: 24px;
            text-align:center;
            width: 100%;
        }
        footer img{
          margin:2px;
          margin-top: -10px;
        } 
        /*********TABLET ABOUT*********/
        .about p,.entertainment p,.column p{
            font-size: 18px;
            font-weight: lighter;
        }
        .header-grid2{
            display:flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: center;
            margin:0 auto;
        }
        .about-header img{
            max-width:100%;
        }
        .about h1{
            background-image: url(../images/banner.about.jpg);
            background-position:bottom center;
            height:230px;
            position: relative;
            z-index:1 ; 
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f2f2f2;
            font-weight:bolder;
            
        }
        .about h1:after{
            content:'';
            position:absolute;
            left:0;
            top:0;
            height:100%;
            width:100%;
            background-color: #26a682;
            opacity:0.6;
            z-index:-1;
        }
        
        .services h1{
            background-image: url(../images/banner.services.jpg);
            background-position:center;
            background-size:cover;
            height:230px;
            position: relative;
            z-index:1 ; 
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f2f2f2;
            font-weight:bolder;
        }
        .services h1:after{
            content:'';
            position:absolute;
            left:0;
            top:0;
            height:100%;
            width:100%;
            background-color: #26a682;
            opacity:0.6;
            z-index:-1;
        }
        .column h2,p{
            margin:30px;
        }
        .about-column{
            display:block;
            width: 90%;
            margin: 0 auto;
        }
        .services-grid{
            display:grid;
            grid-template-columns:1fr 1fr;
            column-gap: 0px;
            margin:0 auto;
           
        }
        .grey-grid{
            display:grid;
            grid-template-columns:1fr 1fr;
            background-color: #f2f2f2 ;
            background-size: 100%;
            align-items: center;
            margin:0 auto;
        }
        .entertainment{
            display: inline-flex;
            flex-direction: column;
            justify-content:center;
            width:90%;
            margin:0 auto;
            height:auto;
            flex-wrap: wrap;
        }
        .entertainment img{
        width:90%;
        }
        .divider{
            background-color:#3c3b3a ;
            display: inline-block;
            justify-content: center;
            align-items: center;
            width:100%;
            padding-bottom: 15px;
            text-align: center;
        }
        .divider h3{
            color:#f2f2f2 ;
        }
        .subscribe-button{
                text-decoration: none;
                color: #f2f2f2;
                border:1px solid #26a682;
                background-color: #26a682;
                padding: 2px 10px;
                border-radius: 15px;
                cursor:pointer;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                width:10%;
                height:8%;
                text-align: center;
               
        }
        .last-section{
            display: flex;
            flex-direction: column;
            margin: 100px 0;
            width: 100%;
            position: relative;
            align-items: center;
            animation: mymove 5s infinite;
        }
        @keyframes mymove {
          from {left: -500px;}
          to {left: 0px;}
        }
        .last-section img{
            width:200px;
            height:150px;
            margin-top:20px;
        }
        .last-section img:nth-child(1){
           width:400px;
        }
        section h2{
            text-align: center;
            font-size: 72px;
        }
         /*********TABLET CONTACT*********/
         .contact-grid{
            display: block;
         }
         .contact{
            width:100%;
        }
        .contact p{
            font-size: 18px;
        }
        .contact img{
            width:90%;
        }
        form{
            background-color:#26a682;
            width:100%;
            color: #f2f2f2;
            padding:0 10px;
            font-size:18px;
            border-radius: 15px;
        }
        label{
            margin-left:10px;
            margin:5px;
        }
        input{
            width:60%;
            border-radius: 15px;
            padding:10px 80px;  
            margin-bottom:5px; 
        }
       textarea{
            padding:10px 80px;  
            border-radius: 15px;
            margin:8px;
            width: 60%;
            height:150px;
        }
        #btn{
            background-color:#3c3b3a ;
            color:#f2f2f2;
        }
    }